* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    height: 65px;
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.header>img {
    margin-right: 7px;
}

.header>h1 {
    font-size: 1.25rem;
    letter-spacing: -0.01em;
    margin-right: auto;
}

.header>h3 {
    font-size: 0.75rem;
    font-weight: 500;
}

/* Form  */
.form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.form--inputs {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    height: 35px;
    gap: 17px;
    justify-content: center;
}

input {
    width: 300px;
    padding: 12px 12px;
    font-family: "Karla", sans-serif;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 5px;
}

.form--button {
    display: flex;
    margin-top: 15px;
    height: 40px;
    justify-content: center;
}

button {
    width: 618px;
    color: white;
    border: none;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
}
.memes{
    margin-top: 36px;
    max-width: 100%;
}